* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #000;
  --secondary-color: #cca714;
  --accent-color: #1f1f1f;
  --neutral-color: #808080;
  --other: #14181b;
}

/* ========== Main Content ========== */
.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  /* O main ocupa todo o espaço disponível */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centraliza o conteúdo */
  width: 90%;
}

span {
  font-size: 2rem;
  text-align: center;
}

h3 {
  text-align: center;
}

.bin-icon {
  width: 30px;
  cursor: pointer;
  background: none;
}

.menu-icon {
  font-size: 24px;
  color: #cca714;
}

.delete-button {
  background: none;
  /* Remove qualquer fundo padrão */
  border: none;
  /* Remove bordas extras */
}

/* =========== App-Head =============*/
.app-nav {
  display: flex;
  align-items: center;
  /* Centraliza os itens verticalmente */
  justify-content: flex-start;
  /* Alinha os itens à esquerda */
  gap: 1rem;
  /* Define o espaçamento preciso entre os elementos */
  width: 80%;
}

.search-container {
  position: relative;
  flex-grow: 1;
  /* Permite que a barra de pesquisa ocupe o máximo de espaço disponível */
  width: 100%;
  /* Limita a largura da barra de pesquisa */
}

.searchInput {
  width: 100%;
  /* Faz o input ocupar 100% do espaço do container */
  padding: 10px 15px 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  background-color: var(--accent-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  border-color: #f0a500;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #cca714;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #f0a500;
}

.requests {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* Remove margens adicionais */
  padding: 0;
  /* Remove espaçamento interno */
  margin-left: 4.5rem;
}

.playlist-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  /* Centraliza o ícone dentro do botão */
  justify-content: center;
}

.playlist-icon img {
  width: 24px;
  height: 24px;
}

/* /==========LISTA DAS MÚSICAS EM EXIBIÇÃO==========/ */
.musicList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* Permite que os itens quebrem para a próxima linha */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  align-items: center;
  /* Centraliza os itens verticalmente, se necessário */
  gap: 20px;
  /* Espaçamento entre os itens */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.musicList li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  width: 190px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* ========== Sidebar ========== */
.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  /* Inicialmente fora da tela */
  width: 400px;
  height: 100%;
  background-color: #242424;
  color: white;
  transition: right 0.3s ease;
  /* Transição suave para o movimento */
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* Quando o sidebar estiver visível */
.sidebar.show {
  right: 0;
}

.close-sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.selected-song-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.selectedSongImg {
  width: 50px;
  border-radius: 8px;
}

.request-button {
  margin-top: 85%;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.request-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* /==========SCROLL BAR==========/ */
.musicList::-webkit-scrollbar {
  width: 8px;
}

.music-list::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}

.music-list::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}

.music-list::-webkit-scrollbar-thumb:hover {
  background-color: #b58f0a;
}

.aside::-webkit-scrollbar {
  width: 8px;
}

.aside::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}

.aside::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}

.aside::-webkit-scrollbar-thumb:hover {
  background-color: #b58f0a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b58f0a;
}

/* /==========ESTILOS DOS CARDS DAS MÚSICAS==========/ */
.music-cover {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  width: 190px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.music-cover:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.music-cover h3 {
  margin: 0.5rem 0 0.25rem 0;
  font-size: 1.1rem;
}

.music-cover p {
  margin: 0;
  font-size: 0.9rem;
}

.cover-image {
  width: 100%;
  max-width: 200px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/* /==========ASIDE==========/ */
.aside {
  height: 95vh;
  max-width: 300px;
  flex-shrink: 0;
  background-color: #242424;
  border-radius: 8px;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  transform: translateX(0);
  transition: transform 0.3s ease;
  overflow-y: auto;

  /* Alterações para acomodar o botão na parte inferior */
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 80px;
}

.aside.visible {
  transform: translateX(0);
}
/* /==========MÚSICAS SELECCIONADAS==========/ */
.selected-song-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.selectedSongImg {
  width: 50px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#songTitle {
  font-size: 0.9rem;
  color: var(--neutral-color);
}

.icon {
  margin-left: auto;
}

/* /==========BOTÃO DE REQUISITAR MÚSICAS==========/ */
#request-button {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

#request-button > button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

#request-button > button:hover {
  background-color: #b58f0a;
  transform: translateX(5px);
}

/*==========BOTÃO DE FECHAR ASIDE==========*/
.close-aside-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none;
}

.close-aside-button:hover {
  transform: scale(1.2);
  color: #f0a500;
}

/*==========RESPONSIVIDADE==========*/
@media (max-width: 768px) {
  .main-content {
    padding-bottom: 60px;
  }

  .bottom-sheet-toggle.open {
    background-color: #333;
  }
}

/* ========== Responsividade ========== */
@media (max-width: 535px) {
  .sidebar {
    display: none;
  }
  .sidebar.show {
    display: block;
  }
  .main-content {
    /* Centraliza o conteúdo */
    width: 90%;
  }
  .app-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
  }
  .search-container {
    width: 80%;
    margin-right: auto;
    margin-left: 2%;
  }
  .requests {
    margin-left: 0;
  }
  .musicList {
    flex-direction: column;
    align-items: center;
  }
  .musicList li {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 2px;
    padding-bottom: 2px;
  }
  .musicList li img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .musicList li .music-info {
    display: flex;
    flex-direction: column;
    width: 100%; /* Para garantir que ocupe o espaço correto */
  }

  .musicList li .music-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .musicList li .music-info p {
    margin: 2px 0 0 0; /* Pequeno espaçamento superior */
    font-size: 14px;
    color: #c4c4c4;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #000;
  --secondary-color: #cca714;
  --accent-color: #1f1f1f;
  --neutral-color: #808080;
  --other: #14181b;
}

/* ========== Main Content ========== */
.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  /* O main ocupa todo o espaço disponível */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centraliza o conteúdo */
  width: 90%;
}

span {
  font-size: 2rem;
  text-align: center;
}

h3 {
  text-align: center;
}

.bin-icon {
  width: 30px;
  cursor: pointer;
  background: none;
}

.menu-icon {
  font-size: 24px;
  color: #cca714;
}

.delete-button {
  background: none;
  /* Remove qualquer fundo padrão */
  border: none;
  /* Remove bordas extras */
}

/* =========== App-Head =============*/
.app-nav {
  display: flex;
  align-items: center;
  /* Centraliza os itens verticalmente */
  justify-content: flex-start;
  /* Alinha os itens à esquerda */
  gap: 1rem;
  /* Define o espaçamento preciso entre os elementos */
  width: 80%;
}

.search-container {
  position: relative;
  flex-grow: 1;
  /* Permite que a barra de pesquisa ocupe o máximo de espaço disponível */
  width: 100%;
  /* Limita a largura da barra de pesquisa */
}

.searchInput {
  width: 100%;
  /* Faz o input ocupar 100% do espaço do container */
  padding: 10px 15px 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  background-color: var(--accent-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  border-color: #f0a500;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #cca714;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #f0a500;
}

.requests {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* Remove margens adicionais */
  padding: 0;
  /* Remove espaçamento interno */
  margin-left: 4.5rem;
}

.playlist-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  /* Centraliza o ícone dentro do botão */
  justify-content: center;
}

.playlist-icon img {
  width: 24px;
  height: 24px;
}

/* /==========LISTA DAS MÚSICAS EM EXIBIÇÃO==========/ */
.musicList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* Permite que os itens quebrem para a próxima linha */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  align-items: center;
  /* Centraliza os itens verticalmente, se necessário */
  gap: 20px;
  /* Espaçamento entre os itens */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.musicList li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  width: 190px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* ========== Sidebar ========== */
.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  /* Inicialmente fora da tela */
  width: 400px;
  height: 100%;
  background-color: #242424;
  color: white;
  transition: right 0.3s ease;
  /* Transição suave para o movimento */
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* Quando o sidebar estiver visível */
.sidebar.show {
  right: 0;
}

.close-sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.selected-song-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.selectedSongImg {
  width: 50px;
  border-radius: 8px;
}

.request-button {
  margin-top: 5%;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.request-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* /==========SCROLL BAR==========/ */
.musicList::-webkit-scrollbar {
  width: 8px;
}

.music-list::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}

.music-list::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}

.music-list::-webkit-scrollbar-thumb:hover {
  background-color: #b58f0a;
}

.aside::-webkit-scrollbar {
  width: 8px;
}

.aside::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}

.aside::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}

.aside::-webkit-scrollbar-thumb:hover {
  background-color: #b58f0a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b58f0a;
}

/* /==========ESTILOS DOS CARDS DAS MÚSICAS==========/ */
.music-cover {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  width: 190px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.music-cover:hover {
  transform: scale(1.05);
  background-color: #222;
}

.music-cover h3 {
  margin: 0.5rem 0 0.25rem 0;
  font-size: 1.1rem;
}

.music-cover p {
  margin: 0;
  font-size: 0.9rem;
}

.cover-image {
  width: 100%;
  max-width: 200px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

.cover-image:hover {
  transform: scale(1.06);
}

/* /==========ASIDE==========/ */
.aside {
  height: 95vh;
  max-width: 300px;
  flex-shrink: 0;
  background-color: #242424;
  border-radius: 8px;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  transform: translateX(0);
  transition: transform 0.3s ease;
  overflow-y: auto;

  /* Alterações para acomodar o botão na parte inferior */
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 80px;
}

.aside.visible {
  transform: translateX(0);
}
/* /==========MÚSICAS SELECCIONADAS==========/ */
.selected-song-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.selectedSongImg {
  width: 50px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#songTitle {
  font-size: 0.9rem;
  color: var(--neutral-color);
}

.icon {
  margin-left: auto;
}

/* /==========BOTÃO DE REQUISITAR MÚSICAS==========/ */
#request-button {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

#request-button > button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

#request-button > button:hover {
  background-color: #b58f0a;
  transform: translateX(5px);
}

/*==========BOTÃO DE FECHAR ASIDE==========*/
.close-aside-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none;
}

.close-aside-button:hover {
  transform: scale(1.2);
  color: #f0a500;
}

/*==========RESPONSIVIDADE==========*/
@media (max-width: 768px) {
  .main-content {
    padding-bottom: 60px;
  }

  .bottom-sheet-toggle.open {
    background-color: #333;
  }
}

/* ========== Responsividade ========== */
@media (max-width: 535px) {
  .sidebar {
    display: none;
  }
  .sidebar.show {
    display: block;
  }
  .main-content {
    /* Centraliza o conteúdo */
    width: 90%;
  }
  .app-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
  }
  .search-container {
    width: 80%;
    margin-right: auto;
    margin-left: 2%;
  }
  .requests {
    margin-left: 0;
  }
  .musicList {
    flex-direction: column;
    align-items: center;
  }
  .musicList li {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 2px;
    padding-bottom: 2px;
  }
  .musicList li img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .musicList li .music-info {
    display: flex;
    flex-direction: column;
    width: 100%; /* Para garantir que ocupe o espaço correto */
  }

  .musicList li .music-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .musicList li .music-info p {
    margin: 2px 0 0 0; /* Pequeno espaçamento superior */
    font-size: 14px;
    color: #c4c4c4;
  }
}

/* Sidebar ocupa toda a tela */
@media screen and (max-width: 435px) {
  /* ========== Sidebar ========== */
  .sidebar-content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .request-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
  }
}

/* Sidebar ocupa toda a tela */
@media screen and (max-width: 385px) {
  /* ========== Sidebar ========== */
  .sidebar-header h3{
    margin-left: 20%;
  }
  .sidebar-content {
    width: 60%;
    margin-left: auto;
    margin-right: 10%;
    text-align: center;
  }
  .request-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
  }
}
