/* Container da barra de pesquisa */
.Requests .search-bar_ {
    padding: 20px;
    width: 100%;
}

.Requests .search-bar-container{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
    width: 60%;
}

.Requests .search-bar_ input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: solid 1px #d9a835;
    font-size: 16px;
    background-color: #1c1c1c;
    color: #fff;
    
}

.Requests .request-list {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.Requests .request-item {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite que o conteúdo seja quebrado em telas pequenas */
}

.Requests footer {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #ccc;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .Requests .request-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .Requests .request-details {
        margin-left: 0;
        margin-top: 10px;
    }

    .Requests .search-bar input {
        width: 90%;
    }

    .Requests .request-status {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .Requests .avatar-placeholder {
        width: 40px;
        height: 40px;
    }

    .Requests .request-details img {
        width: 60px;
        height: 60px;
    }

    .Requests .song-details span {
        font-size: 10px;
    }

    .Requests .request-status {
        font-size: 12px;
    }
}

.playlist-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: #d9a835;
    padding: 5px;
    margin-left: 4px;
    font-size: 1.5rem; /* Ajuste o tamanho do ícone */
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.playlist-icon:hover {
    color: #c2942f;
}

.playlist-icon:focus {
    outline: none;
}
